.navbar-toggler-icon {
  background-color: white;
}

@media screen and (max-width: 991px) {
  .navbar {
    background-color: rgb(49, 48, 48);
  }
}

.navbar-brand {
  font-family: 'Phudu', cursive;
  font-size: 2rem;
}

.navbar-brand .nav-link {
  transition: all 0.2s linear;
}

.navbar-brand:hover {
  transform: scale(1.01);
}

.nav-link:hover {
  text-transform: uppercase;
}
