<hero-home></hero-home>

<div class="container my-5 mx-auto bg-beige">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="card m-2 p-0 bg-beige" style="width: 18rem;">
      <img src="../../assets/monk.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Monasteries</h5>
        <p class="card-text">{{cardText}}</p>
        <a routerLink="{{btnLink}}" class="btn btn-danger">{{btnText}}</a>
      </div>
    </div>
    <div class="card m-2 p-0 bg-beige" style="width: 18rem;">
      <img src="../../assets/stupa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sacred Places</h5>
        <p class="card-text">{{cardText}}</p>
        <a routerLink="{{btnLink}}" class="btn btn-danger">{{btnText}}</a>
      </div>
    </div>
    <div class="card m-2 p-0 bg-beige" style="width: 18rem;">
      <img src="../../assets/flags.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trekking</h5>
        <p class="card-text">{{cardText}}</p>
        <a routerLink="{{btnLink}}" class="btn btn-danger">{{btnText}}</a>
      </div>
    </div>
    <div class="card m-2 p-0 bg-beige" style="width: 18rem;">
      <img src="../../assets/guy.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sightseeing</h5>
        <p class="card-text">{{cardText}}</p>
        <a routerLink="{{btnLink}}" class="btn btn-danger">{{btnText}}</a>
      </div>
    </div>
  </div>
</div>
