<hero></hero>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card gx-2 gy-2" style="width: 18rem;">
                <figure>
                    <img src="../../assets/Images/trulli-5251121_1920.jpg" class="card-img-top" alt="...">
                    <figcaption>Trulli, Puglia, Italy.</figcaption>
                </figure>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col gx-2 gy-2">
            <div class="card" style="width: 18rem;">
                <figure>
                    <img src="../../assets/Images/houses-4093227_1920.jpg" class="card-img-top" alt="...">
                    <figcaption>Trulli, Puglia, Italy.</figcaption>
                </figure>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col gx-2 gy-2">
            <div class="card" style="width: 18rem;">
                <figure>
                    <img src="../../assets/Images/mallorca-3543348_1920.jpg" class="card-img-top" alt="...">
                    <figcaption>Mallorca, Spain.</figcaption>
                </figure>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>